%link(rel='stylesheet' href='css/about.css')

.row
  .offset4.span8
    %br
    %h1 Симулятор разговора Louise
    %p.large
      Симулятор разговора Louise является простейшим симулятором на основе генерации речевых
      конструкций при помощи n-грамм.
    %p.large
      Алгоритм постоянно совершенствуется, так что с каждым днем Луиза становится все умнее и умнее.
    %p.large
      Уже сейчас вы можете испытать ее, начав обычный разговор.

  .span10
    %img(src='img/circle.jpg' alt='conversation')
