%link(rel='stylesheet' href='css/about.css')
.hero-unit
  .row
    .offset4.span8
      %h1 Поговорим?
      %br
      %p
        Меньше слов, больше дела. Хотя, в данном случае слова - и есть дело. Так что не мешкай, смело нажимай на кнопку "Начать разговор", чтобы мы поскорей смогли поболтать
      %p
        А что такое хороший разговор? Это прежде всего теплая атмосфера и приятный собеседник. Что еще нужно для полного счастья?
        %br
        %br
        %a.btn.primary.large{:href => 'conversation.haml'} Начать разговор
